<header>
    <h1><a class="title" routerLink="home">Joue ta vie <br> au Chifoumi</a></h1>

    <a href="#" class="disconnect"><i class="fas fa-unlock-alt"></i> Déconnexion</a>
    <nav class="container">
        <ul class="navbar navbar-light mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="home"> <i class="fas fa-home"></i> Home</a>
            </li>
            <li><a class="nav-link" routerLink="game">Le jeu</a></li>
            <li><a class="nav-link" routerLink="rule">Règle du jeu</a></li>
</ul>
</nav>
</header>